// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment {
  background: rgba(0, 100, 150, .3);
  padding: 0 10px 20px 10px;
  
  max-width: 950px;
  
  margin: 0 auto;
}

#comment p {
  padding: 4px 0 2px 0;
  margin-bottom: -5px;
}
