// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  max-width: 1000px;
  margin: 0 auto;
}

#errorExplanation{
 background: rgba(200, 0, 0, .3);
 margin: 0 50% 0 10px;
 border-radius: 15px 15px;
}

#errorExplanation h2 {
	margin-left: 15px;
}

table {
	
	margin: 0 auto;
	
	border-spacing: 10px;
	width: 1000px;
	
}

#postTitle {
	position: relative;
	background: rgba(0,100,250, .5);
	border-radius: 20px 7px 7px 20px;
	
	height: 1.7em;
	
}
#postTitle:after{
	content: "";
	position: absolute;
	background: rgba(255,255,255, .9);
	
	height: 100%;
	width: 15%;
	
	right: -9%;
	top: 0%;
	
	border-radius: 50%;
	
	z-index: 1;
	
}

#postTitle p {
	
	padding: 0 24px  0 4px;
}

#postText {
	
	position: relative;
	background: rgba(0,150,250, .4);
	border-radius: 20px 0 0 20px;
	
	height: 2em;
	
	z-index: 100;
	padding: 0 15px 0 15px;
	
	max-width: 480px;
}

#showCreatedPost {
  background: rgba(0, 150, 150, .1);
  min-height: 300px;
  max-width: 1000px;
  
  margin: 0 auto;
}

#showPostTitle, #showPostText {
max-width: 950px;
min-width: 520px;

position: relative;
margin: 0 auto;

background: rgba(0, 100, 250, .5);
border-radius: 15px 15px;

text-align: center;

margin-bottom: 10px;

}

#showPostTitle {
  font-size: 2.2em;
}

#showPostText {
  font-size: 1.6em;
}

#postLinks {
  position: fixed;
  
  bottom: 10%;
  right: 1%;
  text-align: center;
}

#allComments {
  background: rgba(100,0,100, .1);
  padding:0 10px 5px 10px;
  
  max-width: 980px;
  margin: 0 auto;
}
